.btn {
    transition: .3s;
    padding: 8px 15px;
    font-size: 18px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 5px;
}