.login {
    margin: 100px auto 0 auto;
    max-width: 400px;

}

.login__head {
    text-align: center;
    color: var(--white);
    font-size:25px;
    font-weight: 500;
}

.login__body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login__input {
    width: 100%;
}

.message {
    margin-top: 5px;
    text-align: center;
    color: var(--white);
    font-size: 17px;
}

.login__to_sign {
    color: var(--white);
    font-size: 15px;
    a {
        color: var(--white);
    }
}