.item-enter {
  opacity: 0;
  transform: translateX(-350px);
  }
  .item-enter-active {
    opacity: 1;
    transform: translateX(0px);
    transition: all .4s ease-in !important; 
  }
  .item-exit {
    opacity: 1;
  }
  .item-exit-active {
    transform: translateX(350px);
    opacity: 0;
    transition: all .4s ease-in !important;
  }
